.container {
  max-width: 600px;
  margin: auto;
}

.non-veg {
  background-color: #ffcccc;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}
